openapi: 3.0.1
info:
  title: Moyoy API Server
  description: Moyoy API Server description
  version: v1.0.0
servers:
- url: https://api.moyoy.shop
  description: prod
- url: http://localhost:8080
  description: local
tags: []
paths:
  /api/v1/auth/reissue/token:
    post:
      tags:
      - 🔄 JWT 재발급
      summary: "JWT 재발급 실패 케이스: 인증 헤더나 쿠키에 JWT 토큰이 존재 하지 않습니다."
      description: "JWT 재발급 실패 케이스: 인증 헤더나 쿠키에 JWT 토큰이 존재 하지 않습니다."
      operationId: JWT 재발급 실패-LOGIN_401_1JWT 재발급 실패-LOGIN_401_2JWT 재발급 실패-LOGIN_401_3JWT
        재발급 실패-LOGIN_401_4JWT 재발급 실패-LOGIN_401_5jwt-reissue-success
      responses:
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-auth-reissue-token1690395706'
              examples:
                JWT 재발급 실패-LOGIN_401_1:
                  value: "{\"status\":401,\"code\":\"LOGIN_401_1\",\"message\":\"인\
                    증 헤더나 쿠키에 JWT 토큰이 존재 하지 않습니다.\",\"data\":null}"
                JWT 재발급 실패-LOGIN_401_2:
                  value: "{\"status\":401,\"code\":\"LOGIN_401_2\",\"message\":\"토\
                    큰 타입이 올바르지 않습니다.\",\"data\":null}"
                JWT 재발급 실패-LOGIN_401_3:
                  value: "{\"status\":401,\"code\":\"LOGIN_401_3\",\"message\":\"유\
                    효하지 않은 토큰입니다.\",\"data\":null}"
                JWT 재발급 실패-LOGIN_401_4:
                  value: "{\"status\":401,\"code\":\"LOGIN_401_4\",\"message\":\"만\
                    료된 토큰입니다.\",\"data\":null}"
                JWT 재발급 실패-LOGIN_401_5:
                  value: "{\"status\":401,\"code\":\"LOGIN_401_5\",\"message\":\"블\
                    랙리스트 처리된 토큰 입니다.\",\"data\":null}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-auth-reissue-token-677170853'
              examples:
                jwt-reissue-success:
                  value: "{\"status\":200,\"code\":\"OK\",\"message\":null,\"data\"\
                    :{\"accessToken\":\"reissued-access-token\"}}"
components:
  schemas:
    api-v1-auth-reissue-token-677170853:
      required:
      - code
      - message
      - status
      type: object
      properties:
        code:
          type: string
          description: 성공/에러 코드
        data:
          required:
          - accessToken
          type: object
          properties:
            accessToken:
              type: string
              description: 새로 발급된 Access Token
        status:
          type: number
          description: 응답 상태
    api-v1-auth-reissue-token1690395706:
      required:
      - code
      - message
      - status
      type: object
      properties:
        code:
          type: string
          description: 에러 코드 (LOGIN_401_5)
        message:
          type: string
          description: 에러 메시지
        status:
          type: number
          description: 응답 상태
