openapi: 3.0.1
info:
  title: Moyoy API Server
  description: Moyoy API Server description
  version: v1.0.0
servers:
- url: https://api.moyoy.shop
  description: prod
- url: http://localhost:8080
  description: local
tags: []
paths: {}
components:
  schemas: {}
